  * {
    font-family: "Prompt", sans-serif;
    font-style: normal;
  }

  body {
    width: 100vw;
    padding: 0;
    margin: 0;
  }

  header, footer{
    width: 100vw;
  }
  
  body, header, footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  