  * {
    font-family: "Prompt", sans-serif;
    font-style: normal;
  }

  body {
    padding: 0;
    margin: 0;
  }

  header, footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  